.header-title3{
    margin-top:60px;
    margin-left:150px;
    color:rgb(21, 20, 20);
    font-weight: bold;
    font-family:serif;
    height:60%;
    font-size:3em;
}
h2 strong{
    color:blue;
    font-style: inherit;

  }
  p{
    margin-top: 40px;
    margin-left:150px;
    font-size: 30px;
  }
.header-containerr{
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Ensure the image is to the right */
    padding: 10px;
    background-color: #f0f0f0; /* Optional: background color */
    border-radius: 8px; /* Optional: rounded corners */
    margin-top: 100px;
    margin-left:-40px;
    width:px;
    background-color: transparent;
    font-size: large;
  }
  
  .header-title {
    margin-top:px;
    font-size: 1.5em; /* Adjust font size as needed */
    margin: 0;
    width:10%;
    padding-right: 30px; /* Space between text and image */
    margin-left:150px;
    margin-right:10px;
  }
  

  .header-logoo{
    width: 44%; /* Adjust width */
    height:auto; /* Maintain aspect ratio */
    object-fit:inherit; /* Ensure the image fits within the set dimensions */
    border-radius: 0; /* Optional: rounded corners for the image */
    margin-left: px; /* Space between title and image */
    margin-top:50px;
    max-width: 100%;
  }
.header-p{
    margin-top: 0px;
    font-size: 1.2em; /* Adjust font size as needed */
    margin: 0;
    padding-right: 30px; /* Space between text and image */
    width:180%;
    margin-left:150px;
}
/* ButtonGroup.css */

.button-group {
    display: flex; /* Use flexbox to align buttons horizontally */
    gap: 10px;
    font-size:19px; /* Adjust spacing between buttons */
  }
  
  .button-primary,
  .button-secondary {
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #007bff; /* Primary button color */
    color: white; /* Text color */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    margin-top:20px;
    width:180px;
  }
  
  .button-secondary1 {
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #69727d; /* Primary button color */
    color: white; /* Text color */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    margin-top:20px;
    width:180px;
    transition: all .3s;
  }
  .button-secondary1 :hover{
    padding:20px;
  }

h6{
    margin-top:20px;
}  
b{
  color:blue;
}